.App {
  text-align: center;
}

.about_section {
  padding: 14rem;
  font-family: "eurostile", sans-serif;
  background: radial-gradient(#dfe2dd,#e85a6f);


}

.experience_section {
  padding: 10rem;
  font-family: "eurostile", sans-serif;
  background: radial-gradient(#a4e521,#dd0425);


}

.skill_section {
  padding: 14rem;
  font-family: "eurostile", sans-serif;
  background: yellowgreen;
}

.timeLine_section {
  padding: 1rem;
  font-family: "eurostile", sans-serif;
  background: rgb(210, 216, 199);
}

.btn_downloadcv{
  color: rgb(255, 255, 255);
  background-color: #000000;
  height: 2rem;
  width: 10rem;
  border-radius: 15%;
}

a{
  color: black;
  text-decoration: none;
}